
body{
background: linear-gradient(to right, #457b9d,#1d3557);
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
}


.container{

background-color: aliceblue;

text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1{
margin-bottom: 20px;
}

#quotes{
    font-size: 1.5em;

}

#generate{
    padding: 10px 20px;
    cursor: pointer;
      
}
#generate:hover{
    background-color: #457b9d;
    color: white;
  
}